xhtml, body {
    height: 100%;
}

body {
    padding: 10px 25px;
    overflow: hidden;
}

#stats {
    color: #555;
    text-shadow: 1px 1px 1px #aaa;
}

#stats span { 
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #555;
    border-left: 1px solid #ddd;
}

#stats span:first-child {
    border-left: none;
}

#stats span:last-child {
    border-right: none;
}

#display {
    margin: auto;
    white-space: pre;
    font-family: "Lucida Console", Consolas, "Courier New", Courier, monospace;
    padding: 10px 25px;
    margin: 10px auto;
    box-shadow: 1px 1px 10px #aaa;
    min-height: 90%;
}

#display span {
    margin: 0;
    padding: 0;
    color: silver;
}

#display .cursor {
    color: black;
    background-color: #dedede;
    font-weight: bold;
}

#display .error {
    color: red;
    background-color: #ffefff;
}
